In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/silver.csv')

In [10]:
# Suppression des colonnes 'riviere', 'proximité_autoroute' et 'tx_residence'
df_new = df.drop(['riviere', 'tx_person_couleur', 'tx_person_couleur'], axis=1)

In [11]:
df_new.to_csv('../data/gold.csv', index=False)

In [4]:
df_new

,tx_crim,tx_commerce,tx_nitriq,nb_piece,tx_ancienneté_parc_immo,distance_centre_emploi,indice_impot_foncier,ratio_eleve_enseignant,tx_person_couleur,tx_status_sociaux_eco_inf,prix_median
0,0.00632,2.31,0.538,6.575,65.2,4.0900,296,15.3,396.90,4.98,24000.0
1,0.02731,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.90,9.14,21600.0
2,0.02729,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34700.0
3,0.03237,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33400.0
4,0.06905,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.90,5.33,36200.0
...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0.573,6.593,69.1,2.4786,273,21.0,391.99,9.67,22400.0
502,0.04527,11.93,0.573,6.120,76.7,2.2875,273,21.0,396.90,9.08,20600.0
503,0.06076,11.93,0.573,6.976,91.0,2.1675,273,21.0,396.90,5.64,23900.0
504,0.10959,11.93,0.573,6.794,89.3,2.3889,273,21.0,393.45,6.48,22000.0
505,0.04741,11.93,0.573,6.030,80.8,2.5050,273,21.0,396.90,7.88,11900.0