In [1]:
import pandas as pd
from pycaret.regression import *

In [2]:
df_new = pd.read_csv('../data/gold.csv')

In [3]:
reg_setup = setup(data=df_new, target='prix_median', train_size=0.8)

In [4]:
best_model = compare_models()

In [5]:
final_model = finalize_model(best_model)

In [6]:
predictions = predict_model(final_model, data=df_new)

### CatBoost Regressor

In [7]:
model_catboost = create_model('catboost')

In [8]:
tuned_model_catboost = tune_model(model_catboost)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [9]:
evaluate_model(tuned_model_catboost)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

### Gradient Boosting Regressor

In [10]:
model_gbr = create_model('gbr')

In [11]:
tuned_model_gbr = tune_model(model_gbr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [12]:
evaluate_model(tuned_model_gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

### RandomForestRegressor

In [13]:
model_rf = create_model('rf')

In [14]:
tuned_model_rf = tune_model(model_rf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [15]:
evaluate_model(tuned_model_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin