In [2]:
import pandas as pd
from pycaret.regression import *

In [3]:
df = pd.read_csv('../data/silver.csv')

In [5]:
reg_setup = setup(data=df, target='prix_median', train_size=0.8)

In [6]:
best_model = compare_models()

In [7]:
final_model = finalize_model(best_model)

In [9]:
predictions = predict_model(final_model, data=df)

### CatBoost Regressor

In [10]:
model_catboost = create_model('catboost')

In [11]:
tuned_model_catboost = tune_model(model_catboost)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [14]:
evaluate_model(tuned_model_catboost)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

### Gradient Boosting Regressor

In [15]:
model_gbr = create_model('gbr')

In [16]:
tuned_model_gbr = tune_model(model_gbr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [17]:
evaluate_model(tuned_model_gbr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

### RandomForestRegressor

In [18]:
model_rf = create_model('rf')

In [19]:
tuned_model_rf = tune_model(model_rf)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [20]:
evaluate_model(tuned_model_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…